#root{
  background-color: #5898c3;
  z-index: -7;
  position: absolute;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.Nav{
  width: 100%;
  height: 67px;
  background-color: #f6f7fa;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  border-bottom: 3px solid rgb(52, 52, 108);
}
.nav-link{
  text-decoration: none;
  color: rgb(40, 40, 56);
  font-size: 20px;
  font-weight: bold;
 float: right;
  margin: 10px;
 
}
.navbar{
  border-bottom: 2px solid white;
}
   

.background{

  height: 100%;
  width: 100%;
  background-color: #3f3f3f;
}


 


.logo{
float: left;
width: 40%;
}
.title{
  width: 100%;
 
  font-size: 70px;
  color: rgb(34, 34, 112);

justify-content: center;

display: block;
align-items: center;
  text-align: center;
margin-top: 40%;
z-index: 4;
  
}
.title1{
  padding-top: 40px;
  margin-top: -150%;
  font-size: 80px;
  font-weight: bold;
}


@media (min-width: 800px) {
  .logo{
    width: 30%;
  }
  .Nav{
    height: 100px;
  }
  #root{
    margin: auto;
  }
  .homeimg{
    width: 80%;
  }
  #root{
    width: 100%;
  
    margin: auto;
    margin-left: 15%;
  }
  
}
