#root{
  /* background-color: #5898c3; */
  z-index: -7;
  position: absolute;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.Nav{
  width: 100%;
  height: 67px;
  background-color: #f6f7fa;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  border-bottom: 3px solid rgb(52, 52, 108);
}
.nav-link{
 font-size: 30px;
  color: rgb(52, 52, 108);
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: right;
  font-weight: bold;
 
}
.nav-item{
  display: block;
}
.navbar{
  border-bottom: 2px solid white;
  background-color: rgb(230, 229, 229);
}
.offcanvas-body{
  background-color: #d3d4d6;



}
.btn{
  background-color: #325586;
  color: white;
  border: 2px solid rgb(52, 52, 108);
  border-radius: 10px;

 

}
   

.background{
  

  height: 100%;
  width: 100%;
  background-color: #3f3f3f;
}


 


.logo{
float: left;
width: 40%;
}


.title{
  width: 100%;
 
  font-size: 70px;
  color: rgb(34, 34, 112);

justify-content: center;

display: block;
align-items: center;
  text-align: center;
margin-top: 40%;
z-index: 4;
  
}
.title1{
  padding-top: 40px;
  margin-top: -150%;
  font-size: 80px;
  font-weight: bold;
}
.login-container{
  width: 80%;
  height: 70vh;
 
text-align: center;
  margin-top: 10%;
  background-color: #cfd0d1;
  margin: auto;
  margin-top: 40px;
  box-shadow: 0px 0px 10px 0px black;
}
.login-text{
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  color: rgb(49, 49, 133);
}
.input{
  width: 80%;
  height: 40px;
  margin-top: 60px;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
text-align: center;
}
.login-button{
  width: 40%;
  height: 40px;
 
  font-size: 20px;
margin-top: 10px;
  border-radius: 10px;
  border: 2px solid rgb(39, 38, 38);
  background-color: #325586;
  color: white;
  text-align: center;
  box-shadow: 0px 0px 10px 0px black;
}
.profile{
  width: 85%;
 
  margin: auto;
  margin-top: 10%;
  background-color: #e4e4e5;
  text-align: center;
padding-bottom: 20px;
  color: rgb(80, 86, 124);
  box-shadow: 0px 0px 10px 0px black;
}
.form{

border-top: 3px solid rgb(52, 52, 108);
  margin-top: 40px;
  padding-top: 20px;

}
.input2{
  width: 60%;
  height: 36px;
  margin-top: 20px;
 background-color: #f9f9fb;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(37, 64, 160);
}
.select{
  margin-top: 20px;
  width: 30%;
  height: 30px;

 
}
.addAnimal{
  width: 40%;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid rgb(247, 246, 246);
  background-color: #325586;
  color: white;
  text-align: center;
  box-shadow: 0px 0px 10px 0px black;
}
.title2{
  font-size: 50px;

  margin-top: 20px;
  color: rgb(49, 49, 133);
}
.petCard{
  width: 60%;
 
  margin: auto;
  margin-top: 20px;
  background-color: #325586;
  text-align: center;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px black;
  text-decoration: none;
}
.petCard2{
  width: 80%;
 
  margin: auto;
  margin-top: 20px;
  background-color: #325586;
  text-align: center;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px black;
  text-decoration: none;
  border: 3px solid rgb(171, 171, 173);
  font-size: 20px;
}
.petName{
  font-size: 30px;
  font-weight: bold;
  border-bottom: 4px solid rgb(233, 232, 232);

  margin-top: 10px;
}


@media (min-width: 800px) {
  .logo{
    width: 30%;
  }
  .Nav{
    height: 100px;
  }
  #root{
    margin: auto;
  }
  .homeimg{
    width: 80%;
  }
  #root{
    width: 100%;
  
    margin: auto;
    margin-left: 15%;
  }
  
}
